@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

* {
  scrollbar-width: thin;
  scrollbar-color:#b39cd1; /* thumb, track */
}

/* Works on Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #b39cd1 0%, #8b6fa8 100%);
}


.text-primary {
  color: #8b6fa8;
  /* color: #b39cd1; */
}

.para-font{
  font-size: 18px;
  color: #6e627f;
}